@use "../../styles/variables" as *;
@use "sass:color";

@mixin select-theme($color, $text-color: $white-color) {
  border-color: $color;
  background-color: $color;
  color: $text-color;
}

@mixin select-theme-border($color, $text-color) {
  background: transparent;
  border-color: $color;
  color: $text-color;
}

@mixin select-size($size) {
  height: $size;
}

.input-container {
  display: inline-flex;
  flex-direction: column;
  max-width: 100%;
}

.input-error {
  font-size: 0.7em;
  color: $danger-color;
}


.inp {
  display: inline-flex;
  align-items: center;
  border-radius: 6px;
  transition: border-color 0.3s ease;


  @each $name, $size in $size {
    &--#{$name} {
      @include select-size($size);

      .search-button {
        @include select-size($size);
      }
    }
  }

  &--outlined {
    border: 1px solid;


    @each $name, $color in $theme-colors {
      &--#{$name} {
        border: 2px solid;

        .search-button {
          background: $color;
          color: $white-color;

          &:hover {
            background-color: color.adjust($color, $lightness: -10%);
          }
        }

        @include select-theme-border($color, $dark-color);
      }
    }

    &--error {
      border: 2px solid $danger-color;

      .input-field {
        color: $danger-color;
      }

      .search-button {
        border-radius: 0 4px 4px 0;
        background: $danger-color;
        color: $white-color;

        &:hover {
          background-color: color.adjust($danger-color, $lightness: -10%);
        }
      }
    }
  }

  &--filled {
    border: none;

    &--error {
      background: $danger-color;

      .input-field {
        color: $dark-color;
      }

      .search-button {
        border-radius: 0 4px 4px 0;
        background: $danger-color;
        color: $white-color;

        &:hover {
          background-color: color.adjust($danger-color, $lightness: -10%);
        }
      }
    }

    @each $name, $color in $theme-colors {
      &--#{$name} {
        .search-button {
          background: $color;
          color: $white-color;
          border-radius: 0 4px 4px 0;

          &:hover {
            background-color: color.adjust($color, $lightness: -10%);
          }
        }

        @include select-theme($color);
      }
    }
  }

  &--borderless {
    border: none;

    &--error {
      .input-field {
        color: $danger-color;
      }

      .search-button {
        border-radius: 4px 4px 0 0;
        background: transparent;
        color: $danger-color;

        &:hover {
          color: $white-color;
          background-color: color.adjust($danger-color, $lightness: -10%);
        }
      }
    }

    @each $name, $color in $theme-colors {
      &--#{$name} {
        .search-button {
          color: $color;
          background: transparent;
          border-radius: 4px 4px 0 0;

          &:hover {
            color: $white-color;
            background-color: color.adjust($color, $lightness: -10%);
          }
        }

      }
    }
  }

  &--underlined {
    border: none;

    &--error {
      border-radius: 0;
      border-bottom: 2px solid $danger-color;

      .search-button {
        border-radius: 4px 4px 0 0;
        background: $danger-color;
        color: $white-color;

        &:hover {
          background-color: color.adjust($danger-color, $lightness: -10%);
        }
      }

      .input-field {
        color: $danger-color;
      }
    }

    @each $name, $color in $theme-colors {
      &--#{$name} {
        .search-button {
          color: $white-color;
          background: $color;
          border-radius: 4px 4px 0 0;

          &:hover {
            background-color: color.adjust($color, $lightness: -10%);
          }
        }

        border-radius: 0;
        border-bottom: 2px solid;

        @include select-theme-border($color, $dark-color);
      }
    }
  }

  .input-icon {
    display: flex;
  }

  .input-field {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 10px;
    background-color: transparent;

    &::placeholder {
      color: $input-border-color;
    }
  }

  .search-button {
    border: none;
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &--loading {
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;

      .loading-icon {
        width: 1.25rem;
        height: 1.25rem;
        animation: spin 1s linear infinite;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &:disabled {
      background-color: $input-border-color;
      cursor: not-allowed;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}