@use "../../styles/theme" as *;

.posts-page {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .loader{
    align-self: center;
  }
}

.posts-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-wrap: wrap;
  align-items: center;

  .posts-page-filter {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .create-post-button {
    padding: 8px 16px;
    cursor: pointer;
  }
}

.posts-list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .loader {
    align-self: center;
  }
}

.post-item {
  h3 a {
    color: #333;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &.dark {
    h3 a {
      color: $light-background;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }


  .post-body {
    margin: 10px 0;
  }

  .post-actions {
    display: flex;
    gap: 10px;

    button {
      padding: 5px 10px;
      border: none;
      border-radius: 3px;
      cursor: pointer;
    }
  }
}