@use "../../styles/theme" as *;

.posts-page {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .loader {
    align-self: center;
  }
}

.posts-controls {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  background: var(--background-light);
  max-width: 100%;

  .posts-page-filter {
    max-width: 60%;
    justify-self: flex-start;
    display: flex;
    gap: 20px;
    align-items: center;

    &-input {
      max-width: 50%;
    }
  }

  .create-post-button {
    padding: 8px 16px;
    cursor: pointer;
  }
}

.posts-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 8px;
  padding: 20px;
  background: var(--background-light);

  .loader {
    align-self: center;
  }
}
