$light-background: #f0f0f0;
$light-text: #333;
$light-sidebar-background: #65a2a6;
$light-sidebar-text: #333;
$dark-background: #333;
$dark-text: #f0f0f0;
$dark-sidebar-background: #235a5e;
$dark-sidebar-text: #f0f0f0;