html[data-theme='dark'] {
  --background: #333;
  --text: #f0f0f0;
  --sidebar-background: #235a5e;
  --sidebar-text: #f0f0f0;
  --background-light: #494848;
  --background-dark: #4c4b4b;
  --text-80: rgb(240 240 240 / 80%);
  --text-60: rgb(240 240 240 / 60%);
}

html[data-theme='light'] {
  --background: #e4e4e4;
  --text: #333;
  --sidebar-background: #65a2a6;
  --sidebar-text: #333;
  --background-light: #f3f3f3;
  --background-dark: #d6d6d6;
  --text-80: rgb(51 51 51 / 80%);
  --text-60: rgb(51 51 51 / 60%);

}

html{
  --background-light: #f3f3f3;
}