$theme-colors: (
        "primary": rgb(83 176 246),
        "secondary": #65a2a6,
        "danger": #f86565,
        "link": rgb(50 85 255),
);
$size: ("small": 24px,
        "medium": 32px,
        "large": 40px);
$size-checkbox: ("small": 16px,
        "medium": 18px,
        "large": 22px);
$danger-color: #f86565;
$white-color: #ffff;
$dark-color: #021227;
$input-border-color: #cdcdcd;
$input-fill-color: #f0f0f0;
$select-border-radius: 4px;
$select-border-color: #ccc;
$select-background-color: #fff;
$select-text-color: #333;
$select-focus-color: #007bff;