$primary-color: rgb(45 169 255);
$white-color: #ffff;
$secondary-color: #65a2a6;
$danger-color: #f86565;
$link-color: rgb(18 37 131);
$dark-color: #021327;
$input-border-color:  #ccc;
$input-fill-color: #f0f0f0