@use "../../styles/theme" as *;

.container {
  display: flex;
  height: 100vh;
  background-color: $light-background;
  color: $light-text;
  transition: background-color 0.3s ease, color 0.3s ease;

  &.dark {
    background-color: $dark-background;
    color: $dark-text;
  }

  .content {
    flex-grow: 1;
    padding: 20px;
  }
}