@use "../../styles/theme" as *;

.user-details-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  height: 100%;
  background: var(--background);
  box-shadow: -2px 0 5px rgb(0 0 0 / 10%);
  padding: 20px;
  overflow-y: auto;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .user-name {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      max-width: 80%;
    }
  }

  .close-button {
    align-self: flex-end;
    font-size: 24px;
    cursor: pointer;
  }

  .nested-block {
    margin: 0.5rem 0;
    padding-left: 1rem;

    > strong {
      display: block;
      margin: 0.5rem 0;
    }
  }

  .value {
    margin-left: 0.5rem;
    font-weight: 400;
  }

  .view-posts-button {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
}
