.post-item {
  border-bottom: 1px solid var(--text);
  padding-bottom: 20px;

  h3 a {
    color: var(--text);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }


  .post-body {
    margin: 10px 0;
  }

  .post-actions {
    display: flex;
    gap: 10px;

    button {
      padding: 5px 10px;
      border: none;
      border-radius: 3px;
      cursor: pointer;
    }
  }
}