@use "sass:map";
@use "../../styles/variables.scss" as *;
@use "../../styles/theme" as *;

.table-container {
  width: 100%;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;

  .input-filter, .select-filter {
    margin-left: 10px;
  }

  tbody tr {
    cursor: pointer;
  }

  th,
  td {
    padding: 0.75rem;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
  }

  tbody tr:hover{
    background: var(--background-dark);
  }

  thead {
    th {
      font-weight: normal;
      text-transform: uppercase;
    }
  }

  @each $name, $color in $theme-colors {
    &--#{$name} {
      thead {
        th {
          color: $color;
        }
      }

      border: 1px solid $color;

      th, td {
        border-bottom: 1px solid $color;
      }
    }
  }
}

.table-clear-filters {
  background-color: map.get($theme-colors, "secondary");
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 1rem;
}