.users-page {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .search-container {
    input {
      .dark &{
        color: white;
      }
    }
  }

  .loader {
    align-self: center;
  }

}